.selectContainer {
    text-align: center;
}

.custom-select {
    margin-bottom: 15px;
    border: 1px solid white;
}

ul {
    margin: 0 auto;
    text-align: start;
    padding: 0px;
    list-style: none;
}

img {
    border: 10px solid black;
}

.filterButtons {
    margin-top: 15px;
}

.filterButtons button:nth-child(n + 2) {
    margin-left: .5em;
}

.filterButtons button {
    margin-bottom: .4em;
}