.selectContainer {
    text-align: center;
}

.selectContainer:first-child {
    width: 15%;
    margin-bottom: 15px;
    
}


ul {
    margin: 0 auto;
    text-align: start;
    padding: 0px;
    list-style: none;
}

img {
    border: 10px solid black;
}

.filterButtons {
    margin-top: 15px;
}

.filterButtons button:nth-child(n + 2) {
    margin-left: .5em;
}

.filterButtons button {
    margin-bottom: .4em;
}

input[type='text'] {
    width: 15%;
    display: inline-block;
    margin-bottom: 3px;
}

