@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Permanent+Marker|Source+Sans+Pro');
/* Stylesheet currently quite messy; will refactor/organize later */
#title {
    text-shadow: -1px 0 , 0 2px #ED001C	, 2px 0 #ED001C	, 0 -1px #ED001C	;
    color: rgb(247, 240, 240);
    font-family: 'Permanent Marker', cursive;
    font-size: 1.7em;
}

#postHolder {
  border: 3px solid rgb(197, 4, 42);
  background: #ED001C;
}

.selectContainer {
  text-align: center;
}

#poker-cat {
    background: transparent;
    color: white;
    font-size: 3.2em;
    padding: 0px;
}

.badge:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.05)
}
.selectContainer:first-child {
  width: 15%;
  margin-bottom: 15px;
}

ul {
  margin: 0 auto;
  text-align: start;
  padding: 0px;
  list-style: none;
  filter: drop-shadow(0 0 0.75rem black);
}

li:hover {
filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5))
}

#postTitleLink {
  text-decoration: none;
  color: black;
  font-size: 1.7em;
  font-family: 'Fjalla One', sans-serif;
}

#postTitleLink:hover {
  color: hsl(0, 0%, 28%);
}

.fa-reddit {
  font-size: 80px;
  display: block;
  color: red;
}

.fa-link {
  color: #5f99cf;
}

.selfTextLink {
  color: red;
}

#postImg {
  border: 2.5px solid #5f99cf;
}

.fa-arrow-up, .fa-comments {
  font-size: 1.3em;
  color: #5f99cf;
}

.postText {
  font-family: 'Source Sans Pro', sans-serif;
}